<ion-header>
  <ion-toolbar>
    <ion-title>RegistAPP</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="background">
  <div class="content-wrapper">
    <h1>Bienvenido, {{ username }}</h1>
    <p>Este es su portal.</p>
    <div>
      <ion-button class="custom-button" expand="block" (click)="irlista()" >Ver Asistencia</ion-button>
    </div>
    <div>
      <ion-button class="custom-button" expand="block" (click)="irqr()">Generar Qr Asistencia </ion-button>
    </div>

    <div class="button-container">
      <ion-button expand="block" color="danger" class="animated-button" (click)="logout()">
        <ion-icon name="log-out-outline"></ion-icon>
        Cerrar Sesión
      </ion-button>
    </div>
  </div>

  
</ion-content>


<ion-footer [translucent]="true">
  <ion-toolbar>
    <ion-title >Duoc UC </ion-title>
  </ion-toolbar>
</ion-footer>